@model List<WebApplication1.Models.Plant>

<head>
    <link href="~/css/list.css" rel="stylesheet" media="all" />
</head>

<h2 class="page-title">Plant List</h2>

<div class="card custom-card">
    <div class="card-header custom-card-header">
        <h3 class="italic">
            <a href="/Plant/Create" class="btn add-student-btn">
                <i class="fa fa-plus-circle"></i> Add Plant
            </a>
        </h3>
        <div class="search-container">
            <form class="search-form" asp-action="Index" method="GET">
                <input name="searchString" class="search-input" type="search" placeholder="Search by Plant Name" />
                <button class="search-btn" type="submit">Search</button>
                <button class="search-btn m-3" asp-action="Index" type="submit">Back to List</button>
            </form>

        </div>
    </div>
</div>

<!-- Table Section -->
<div class="table-responsive">
    <table class="custom-table" id="tbl-list">
        <thead>
            <tr>
                <th>Plant ID</th>
                <th>Plant Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                @foreach (var plant in Model)
                {
                    <tr>
                        <td>@plant.Id</td>
                        <td>@plant.Name</td>
                        <td>
                            <a asp-action="Update" asp-controller="Plant" asp-route-id="@plant.Id" class="btn edit-btn">
                                <i class="fa fa-edit"></i> Edit
                            </a>
                            <a asp-action="Delete" asp-controller="Plant" asp-route-id="@plant.Id" class="btn delete-btn">
                                <i class="fa fa-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" class="text-center">No plants found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
